flake8==2.5.5
pep8-naming
flake8-respect-noqa
nose2
pytest
future
transifex-client

# NOTE `libqfielsync` version should be defined in the `*.tar.gz` format, not `git+https://` to make `wheel` happy
libqfieldsync @ https://github.com/opengisch/libqfieldsync/archive/ed003e83912f1e28435d0789afc67acf17c44be8.tar.gz
