flake8==2.5.5
pep8-naming
flake8-respect-noqa
pytest
future
transifex-client

# TODO: point to a commit on master after merging https://github.com/opengisch/libqfieldsync/pull/49
libqfieldsync @ https://github.com/opengisch/libqfieldsync/archive/f3999a47f5c8394970f4fc95885a046a5b6d3a73.tar.gz
